<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GithubJavaDevListBlack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GithubJavaDevListBlue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TodayExtForJavaDevListBlack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TodayExtForJavaDevListBlue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11B0393D1E04329F004FFAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11B039601E044C5C004FFAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11B039731E046C78004FFAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11B039891E046CF4004FFAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11B0399D1E046E08004FFAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11B039B01E046E1D004FFAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11B039C41E046EAA004FFAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11B039D71E046EC0004FFAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
